/* Game */
#answers {
    text-align: center;
}


#clue6, #clue4, #clue2 {
    margin-bottom: 10px;
}

#clue4, #clue2 {
    visibility: hidden;
}

.sixPointClue {
    background: lightgreen;
    border-radius: 15px;
}

.fourPointClue {
    background: gold;
    border-radius: 15px;
}

.twoPointClue {
    background: lightsalmon;
    border-radius: 15px;
}

div .form-check-inline {
    border: 5px solid white;
    margin: 0;
    background: lightblue;
    border-radius: 15px;
    padding: 0;
}

.form-check-label {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

input {
    visibility: hidden;
}


@media only screen and (max-width: 576px) {
    #next-clue {
        position: fixed;
        bottom: 0;
    }

    #submit-button {
        position: fixed;
        bottom: 50px;
    }
}


/* Progress bar */
.game-progress {
    padding: 2rem;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.status {
    border: 2px solid black;
    font-size: 10px;
    display: inline-block;
    margin: 0 0.1rem;
    width: 7%;
}

.current {
    background-color: blue;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

