/* Game */
#answers {
    text-align: center;
}

#clue4, #clue2 {
    visibility: hidden;
    margin-bottom: 10px;
}

.sixPointClue {
    background: lightgreen;
    border-radius: 15px;
}

.fourPointClue {
    background: gold;
    border-radius: 15px;
}

.twoPointClue {
    background: lightsalmon;
    border-radius: 15px;
}

div .form-check-inline {
    margin: 10px;
    padding: 0;
    background: lightblue;
    border-radius: 15px;
}

.form-check-label {
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .col-sm-4 {
        width: 30%;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        width: 21%;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        width: 14%;
    }
}

@media (min-width: 1442px) {
    .col-lg-2 {
        width: 15%;
    }
}


/* Progress bar */
.game-progress {
    padding: 2rem;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.status {
    border: 2px solid black;
    font-size: 10px;
    display: inline-block;
    margin: 0 0.1rem;
    width: 7%;
}

.current {
    background-color: blue;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

