/* Entire site */
h1 {
    background: #343A40;
    color: darkorange;
    margin: 0;
}

.center {
    text-align: center;
}

div .row, div .row-fluid {
    padding: 10px 0;
}

/* Navbar */
nav ul li a {
    font-weight: bold;
    font-size: 20px;
}

img {
    width: 100%;
}